
  body {
        background-image: url(StockSnap_DIKNMVOV9M.jpg);
        background-size: cover;
        width: 100%;
        margin: 0;
        font-family: "Helvetica Neue";

    a {
      text-decoration: none;
      color: inherit;
    }

    label {
      display: block;
    }

    nav a {
      display: inline-block;
      margin: 1em;
    }

    form div {
      margin: 1em;
      display: inline-block;
      width: 70%;
      color: white;
    }

    fieldset {
      border-color: transparent;
      background-color: transparent;
    }

    h1 {
      text-align: center;
    }

    input {
      width: 100%;
      padding: 10px 20px;
      border: none;
      border-bottom: 2px solid grey;
      background-color: transparent;
      outline: none;
      font-size: 24px;
      color: black;
    }

    .form-button {
      width: 33%;
      button {
        background-color: #1DB954;
      }
    }

    .spotify-auth {
      background-color: #1DB954;
    }

    input:focus {
      border-bottom: 3px solid #555;
    }

    button {
      position: relative;
      background-color: transparent;
      color: white;
      border: 2px solid black;
      font-size: 16px;
      padding: 12px 28px;
      border-radius: 10px;
      cursor: pointer;
    }

    button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .warning-box {
      color: black;
      width: 33%;
      text-align: left;
    }

    button:hover {
      background-color: white;
      color: black;
    }

    .track-response {
      background-color: #191414;
    }

    @media (max-width: 960px) {
      li.col-left {
        float: none;
        width: 100%;
      }
      li.col-right {
        float: none;
        width: 100%;
      }
      li.col-middle {
        float: none;
        width: 100%;
      }
    }

    .tracks-area {
      border-top: 2px solid grey;
      margin: 30px;
      padding: 25px;
      font-weight: bold;
      left: 10%;
      button {
        background-color: #1DB954;
        margin: 15px;
      }
      button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }

    .nav {
      background-color: #191414;
      padding: auto;
      display: inline-block;
      width: 100%;
      button {
        float: right;
        margin: auto;
        padding: auto
      }
    }

    .mainClass {
      background-color: white;
    }

    .welcome {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .welcome-buttons {
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      button {
        margin: 10px;
        display: flex;
        width: 85%;
      }
    }

    ul {
      list-style: none;
      width: auto;
    }

    li {
      width: 33%;
      list-style-type: none;
      display: block;
    }

    li.col-left {
      float: left;
    }

    li.col-middle {
      float: left;
    }

    li.col-right {
      float: right;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #1DB954;
      text-align: center;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

  }
